h1 {
	margin: 0;
	font-size: 2em;
	padding: 25px 0;
}

.title {
	text-align: center;
	color: white;
	text-transform: uppercase;
	letter-spacing: 3px;
	background-color: #3862a5;
	margin: 0;
}

.RGB {
	display: block;
	font-size: 4em;
}

body {
	font-size: 1rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	background-color: #1f252d;
}

.container-game {
	padding: 0px 27%;
}


li {
	font-size: 15px;
	font-weight: 700;
}

.options{
	color: #3862a5 !important;
	text-transform: uppercase;
}

.box {
    border-radius: 25px;
    background: white;
    padding: 20px; 
    width: 200px;
    height: 150px; 
    margin: 10px 10px;
    opacity: 1;
}

.game {
	margin: auto;
	max-width: 700px;
	padding-left: 20px;
}

.prompt {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
    width: 100%;
    margin-top: 13px;
    font-size: 15px;
	font-weight: 700;
}